# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poetry.lock

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#pdm.lock
#   pdm stores project-wide configurations in .pdm.toml, but it is recommended to not include it
#   in version control.
#   https://pdm.fming.dev/#use-with-ide
.pdm.toml

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#.idea/
archive/2013_hunting_regulations.pdf
archive/2014_hunting_regulations.pdf
archive/2015_hunting_regulations.pdf
archive/2016_hunting_regulations.pdf
archive/2017_hunting_regulations.pdf
archive/2018_hunting_regulations.pdf
archive/2019_hunting_regulations.pdf
archive/2020_hunting_regulations.pdf
archive/2021_hunting_regulations.pdf
archive/2022_hunting_regulations.pdf
archive/2023_hunting_regulations.pdf
wdfw02063.pdf
spatialfiles/records-2304920/Administrative_Boundaries of_National Park_System_Units.xml
spatialfiles/S_USA.Wilderness.gdb/S_USA.Wilderness.gdb/a00000001.gdbindexes
spatialfiles/S_USA.Wilderness.gdb/S_USA.Wilderness.gdb/a00000001.gdbtable
spatialfiles/S_USA.Wilderness.gdb/S_USA.Wilderness.gdb/a00000001.gdbtablx
spatialfiles/S_USA.Wilderness.gdb/S_USA.Wilderness.gdb/a00000001.TablesByName.atx
spatialfiles/S_USA.Wilderness.gdb/S_USA.Wilderness.gdb/a00000002.gdbtable
spatialfiles/S_USA.Wilderness.gdb/S_USA.Wilderness.gdb/a00000002.gdbtablx
spatialfiles/S_USA.Wilderness.gdb/S_USA.Wilderness.gdb/a00000003.gdbindexes
spatialfiles/S_USA.Wilderness.gdb/S_USA.Wilderness.gdb/a00000003.gdbtable
spatialfiles/S_USA.Wilderness.gdb/S_USA.Wilderness.gdb/a00000003.gdbtablx
spatialfiles/S_USA.Wilderness.gdb/S_USA.Wilderness.gdb/a00000004.CatItemsByPhysicalName.atx
spatialfiles/S_USA.Wilderness.gdb/S_USA.Wilderness.gdb/a00000004.CatItemsByType.atx
spatialfiles/S_USA.Wilderness.gdb/S_USA.Wilderness.gdb/a00000004.FDO_UUID.atx
spatialfiles/S_USA.Wilderness.gdb/S_USA.Wilderness.gdb/a00000004.gdbindexes
spatialfiles/S_USA.Wilderness.gdb/S_USA.Wilderness.gdb/a00000004.gdbtable
spatialfiles/S_USA.Wilderness.gdb/S_USA.Wilderness.gdb/a00000004.gdbtablx
spatialfiles/S_USA.Wilderness.gdb/S_USA.Wilderness.gdb/a00000004.horizon
spatialfiles/S_USA.Wilderness.gdb/S_USA.Wilderness.gdb/a00000004.spx
spatialfiles/S_USA.Wilderness.gdb/S_USA.Wilderness.gdb/a00000005.CatItemTypesByName.atx
spatialfiles/S_USA.Wilderness.gdb/S_USA.Wilderness.gdb/a00000005.CatItemTypesByParentTypeID.atx
spatialfiles/S_USA.Wilderness.gdb/S_USA.Wilderness.gdb/a00000005.CatItemTypesByUUID.atx
spatialfiles/S_USA.Wilderness.gdb/S_USA.Wilderness.gdb/a00000005.gdbindexes
spatialfiles/S_USA.Wilderness.gdb/S_USA.Wilderness.gdb/a00000005.gdbtable
spatialfiles/S_USA.Wilderness.gdb/S_USA.Wilderness.gdb/a00000005.gdbtablx
spatialfiles/S_USA.Wilderness.gdb/S_USA.Wilderness.gdb/a00000006.CatRelsByDestinationID.atx
spatialfiles/S_USA.Wilderness.gdb/S_USA.Wilderness.gdb/a00000006.CatRelsByOriginID.atx
spatialfiles/S_USA.Wilderness.gdb/S_USA.Wilderness.gdb/a00000006.CatRelsByType.atx
spatialfiles/S_USA.Wilderness.gdb/S_USA.Wilderness.gdb/a00000006.FDO_UUID.atx
spatialfiles/S_USA.Wilderness.gdb/S_USA.Wilderness.gdb/a00000006.gdbindexes
spatialfiles/S_USA.Wilderness.gdb/S_USA.Wilderness.gdb/a00000006.gdbtable
spatialfiles/S_USA.Wilderness.gdb/S_USA.Wilderness.gdb/a00000006.gdbtablx
spatialfiles/S_USA.Wilderness.gdb/S_USA.Wilderness.gdb/a00000007.CatRelTypesByBackwardLabel.atx
spatialfiles/S_USA.Wilderness.gdb/S_USA.Wilderness.gdb/a00000007.CatRelTypesByDestItemTypeID.atx
spatialfiles/S_USA.Wilderness.gdb/S_USA.Wilderness.gdb/a00000007.CatRelTypesByForwardLabel.atx
spatialfiles/S_USA.Wilderness.gdb/S_USA.Wilderness.gdb/a00000007.CatRelTypesByName.atx
spatialfiles/S_USA.Wilderness.gdb/S_USA.Wilderness.gdb/a00000007.CatRelTypesByOriginItemTypeID.atx
spatialfiles/S_USA.Wilderness.gdb/S_USA.Wilderness.gdb/a00000007.CatRelTypesByUUID.atx
spatialfiles/S_USA.Wilderness.gdb/S_USA.Wilderness.gdb/a00000007.gdbindexes
spatialfiles/S_USA.Wilderness.gdb/S_USA.Wilderness.gdb/a00000007.gdbtable
spatialfiles/S_USA.Wilderness.gdb/S_USA.Wilderness.gdb/a00000007.gdbtablx
spatialfiles/S_USA.Wilderness.gdb/S_USA.Wilderness.gdb/a00000009.freelist
spatialfiles/S_USA.Wilderness.gdb/S_USA.Wilderness.gdb/a00000009.gdbindexes
spatialfiles/S_USA.Wilderness.gdb/S_USA.Wilderness.gdb/a00000009.gdbtable
spatialfiles/S_USA.Wilderness.gdb/S_USA.Wilderness.gdb/a00000009.gdbtablx
spatialfiles/S_USA.Wilderness.gdb/S_USA.Wilderness.gdb/a00000009.horizon
spatialfiles/S_USA.Wilderness.gdb/S_USA.Wilderness.gdb/a00000009.spx
spatialfiles/S_USA.Wilderness.gdb/S_USA.Wilderness.gdb/gdb
spatialfiles/S_USA.Wilderness.gdb/S_USA.Wilderness.gdb/timestamps
GMU_Num_169.gpkg
GMU_Num_172.gpkg
BSU_Name_Black Butte.gpkg
spatialfiles/Bighorn_Sheep_Units_(Polygons)_2024.cpg
spatialfiles/Bighorn_Sheep_Units_(Polygons)_2024.dbf
spatialfiles/Bighorn_Sheep_Units_(Polygons)_2024.prj
spatialfiles/Bighorn_Sheep_Units_(Polygons)_2024.shp
spatialfiles/Bighorn_Sheep_Units_(Polygons)_2024.shx
spatialfiles/Bighorn_Sheep_Units_(Polygons)_2024.xml
spatialfiles/Bighorn_Sheep_Complete.cpg
spatialfiles/Bighorn_Sheep_Complete.dbf
spatialfiles/Bighorn_Sheep_Complete.prj
spatialfiles/Bighorn_Sheep_Complete.qgz
spatialfiles/Bighorn_Sheep_Complete.qix
spatialfiles/Bighorn_Sheep_Complete.qmd
spatialfiles/Bighorn_Sheep_Complete.shp
spatialfiles/Bighorn_Sheep_Units_(Polygons)_2024.zip
spatialfiles/Moose_Areas_(Polygons)_2024.cpg
spatialfiles/Moose_Areas_(Polygons)_2024.dbf
spatialfiles/Moose_Areas_(Polygons)_2024.prj
spatialfiles/Moose_Areas_(Polygons)_2024.shp
spatialfiles/Moose_Areas_(Polygons)_2024.shx
spatialfiles/Moose_Areas_(Polygons)_2024.xml
spatialfiles/Moose_Areas_(Polygons)_2024.zip
spatialfiles/Moose_Areas_Complete.qgz
spatialfiles/RCO_Trails_Database_7517836238612556448.zip
spatialfiles/records-2304920.zip
spatialfiles/S_USA.Wilderness.gdb.zip
spatialfiles/WA_County_Boundaries.cpg
spatialfiles/WA_County_Boundaries.dbf
spatialfiles/WA_County_Boundaries.prj
spatialfiles/WA_County_Boundaries.shp
spatialfiles/WA_County_Boundaries.shx
spatialfiles/WA_County_Boundaries.xml
spatialfiles/WA_County_Boundaries.zip
spatialfiles/Washington.shp_.zip
spatialfiles/records-2304920/Administrative_Boundaries of_National Park_System_Units.zip
spatialfiles/Deer_Areas_(Polygons)_2024.cpg
spatialfiles/Deer_Areas_(Polygons)_2024.dbf
spatialfiles/Deer_Areas_(Polygons)_2024.prj
spatialfiles/Deer_Areas_(Polygons)_2024.shp
spatialfiles/Deer_Areas_(Polygons)_2024.shx
spatialfiles/Deer_Areas_(Polygons)_2024.xml
spatialfiles/Deer_Areas_(Polygons)_2024.zip
spatialfiles/Elk_Areas_(Polygons)_2024.cpg
spatialfiles/Elk_Areas_(Polygons)_2024.dbf
spatialfiles/Elk_Areas_(Polygons)_2024.prj
spatialfiles/Elk_Areas_(Polygons)_2024.shp
spatialfiles/Elk_Areas_(Polygons)_2024.shx
spatialfiles/Elk_Areas_(Polygons)_2024.xml
spatialfiles/Elk_Areas_(Polygons)_2024.zip
spatialfiles/Game_Management_Units_(Polygons)_2024.cpg
spatialfiles/Game_Management_Units_(Polygons)_2024.dbf
spatialfiles/Game_Management_Units_(Polygons)_2024.prj
spatialfiles/Game_Management_Units_(Polygons)_2024.qix
spatialfiles/Game_Management_Units_(Polygons)_2024.shp
spatialfiles/Game_Management_Units_(Polygons)_2024.shx
spatialfiles/Game_Management_Units_(Polygons)_2024.xml
spatialfiles/Moose_Units_Complete.cpg
spatialfiles/Moose_Units_Complete.dbf
spatialfiles/Moose_Units_Complete.prj
spatialfiles/Moose_Units_Complete.qix
spatialfiles/Moose_Units_Complete.qmd
spatialfiles/Moose_Units_Complete.shp
spatialfiles/Moose_Units_Complete.shx
spatialfiles/Mountain_Goat_Areas_(Polygons)_2024.cpg
spatialfiles/Mountain_Goat_Areas_(Polygons)_2024.dbf
spatialfiles/Mountain_Goat_Areas_(Polygons)_2024.prj
spatialfiles/Mountain_Goat_Areas_(Polygons)_2024.shp
spatialfiles/Mountain_Goat_Areas_(Polygons)_2024.shx
spatialfiles/Mountain_Goat_Areas_(Polygons)_2024.xml
spatialfiles/Mountain_Goat_Areas_(Polygons)_2024.zip
